Repository CHTC/chtc-bot, pull requests merged in 2020-04, with the labels that each got.

#24 Add classad_eval slash command
  config.py
  requirements.txt
  tests/slashes/test_classad_eval.py
  web/slashes/classad_eval.py
Labels: enhancement, slash-commands

#27 Add ticket linkers for chtc-bot's own issues and PRs
  config.py
  tests/events/__init__.py
  tests/events/test_linkers.py
  web/events/handlers.py
  web/events/linkers.py
Labels: enhancement, event-handlers

#26 Testing improvements for slash commands
  config.py
  config/__init__.py
  config/base.py
  config/heroku.py
  config/testing.py
  pytest.ini
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/slashes/test_classad_eval.py
  tests/slashes/test_jobads.py
  tests/slashes/test_knobs.py
  tests/slashes/test_utils.py
  tests/test_formatting.py
  tests/test_html.py
  tests/test_slack.py
  tests/test_test_config.py
  web/app.py
  web/events/events.py
  web/events/handlers.py
  web/events/linkers.py
  web/executor.py
  web/formatting.py
  web/html.py
  web/slack.py
  web/slashes/classad_eval.py
  web/slashes/jobads.py
  web/slashes/knobs.py
  web/slashes/utils.py
  web/utils.py
  wsgi.py
Labels: slash-commands, testing

#31 Issue 28 refactor
  config/base.py
  tests/commands/__init__.py
  tests/commands/test_classad_eval.py
  tests/commands/test_jobads.py
  tests/commands/test_knobs.py
  tests/commands/test_submits.py
  web/app.py
  web/commands/__init__.py
  web/commands/classad_eval.py
  web/commands/commands.py
  web/commands/scrapers.py
  web/events/__init__.py
  web/slashes/__init__.py
  web/slashes/jobads.py
  web/slashes/knobs.py
  web/slashes/submits.py
Labels: enhancement, slash-commands
